@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pt-safe { padding-top: env(safe-area-inset-top); }
  .pr-safe { padding-right: env(safe-area-inset-right); }
  .pb-safe { padding-bottom: env(safe-area-inset-bottom); }
  .pl-safe { padding-left: env(safe-area-inset-left); }
  .px-safe { padding-left: env(safe-area-inset-left); padding-right: env(safe-area-inset-right); }
  .py-safe { padding-top: env(safe-area-inset-top); padding-bottom: env(safe-area-inset-bottom); }
  .mx-safe { margin-left: env(safe-area-inset-left); margin-right: env(safe-area-inset-right); }
  .my-safe { margin-top: env(safe-area-inset-top); margin-bottom: env(safe-area-inset-bottom); }
}
